:root{
    /* text colors */
    --black: #000;
    --black_text: #241400;
    --white_text: #fff;
    --orange_text: #E16A00;
    --red_text: #720418;
    --gray_placeholder: #797667;


    /* Backgrounds */
    --body_background: #FFFAF5;
    --orange_background: #E16A00;
    --footer_background: #391F00;
}