body{
    background: var(--red_text);
}
header{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 4vh;
    min-height: 44px;
}
header *{
    transition: .4s all ease;
}
    header nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
        header nav ul{
            width: 100%;
            height: 100%;
        }
            header nav ul li{
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: flex-start;
            }   
                header nav ul li a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 20px;
                    height: 100%;
                    color: var(--white_text);
                    text-decoration: none;
                }
                header nav ul li a .header_logo_text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    height: 100%;
                }
                    header nav ul li a .header_logo_text .header_logo_text_first{
                        color: var(--white_text);
                        font-family: "Montserrat";
                        font-size: 1em;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 2em;
                        text-transform: uppercase;
                        height: 50%;
                    }
                    header nav ul li a .header_logo_text .header_logo_text_first:after{
                        display: block;
                        content: " ";
                        background: var(--white_text);
                        width: 200%;
                        height: 2px;
                    }
                    header nav ul li a .header_logo_text .header_logo_text_second{
                        color: var(--white_text);
                        font-family: "Montserrat";
                        font-size: 0.9em;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2em;
                        text-transform: capitalize;
                        height: 50%;
                    }
/* Styling of section with form */

main{
    width: 100%;
    height: 90vh;
} 
    main section{
        padding-top: 10vh;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
        main section .form{
            padding-top: 5vh;
            padding-bottom: 5vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            max-width: 662px;
            width: 90%;
            max-height: 545px;
            height: 80%;
            background-color: var(--white_text);
        }
            main section .form h1{
                color: var(--black_text);
                text-align: center;
                font-family: "Montserrat";
                font-size: 2.1em;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
            main section .form input{
                max-width: 550px;
                width: 90%;
                height: 75px;
                color: var(--gray_text);
                border: 1px solid var(--gray_text);
                outline: none;
                padding-left: 50px;
                font-family: "Grimson";
                font-size: 1.2em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                outline: none;
            }
            main section .form button{
                background-color: var(--orange_text);
                max-width: 550px;
                width: 90%;
                height: 75px;
                outline: none;
                color: var(--white_text);
                border: none;
                font-family: "Grimson";
                font-size: 1.3em;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
            }